*{
    margin: 0;
    padding: 0;

}
.cabecalho{
    background-color: blueviolet;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0;
}
.cabecalho-imagem{
    width: 05%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}
